<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="col-sm-8" style="justify-items: left">
        <li> {{ test2?.firstName + ' ' + test2?.surname}}</li>
      </div>
    </div>
  </div>
</div>
