<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="col-sm-8" style="justify-items: left">
        <li> {{ test?.firstName + ' ' + test?.surname}}
          <p><button type="button" class="btn btn-info btn-xs" (click)="showFriends(test?.friends)">
            {{'Show ' + test?.firstName}}'s friends
          </button></p>
        </li>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showVar1">
  <h5>Friends of {{test?.firstName + ' ' + test?.surname}}</h5>
  <ul>
    <fof-item *ngFor="let friend of firendsOfFriendsList" [test2]="friend"></fof-item>
  </ul>
  <br>
</div>
