<div class="container">
  <div class="row">
    <div class="shadow">
      <div class="col-sm-12">
        <div class="col-sm-2">
          <img src="https://www.infrascan.net/demo/assets/img/avatar5.png" class="img-circle" width="60px">
        </div>
        <div class="col-sm-8">
          <h4> {{ peopleItem.firstName }} {{ peopleItem.surname }}</h4>
          <p>{{ peopleItem.age }} years</p>
          <p>{{ peopleItem.gender }}</p>
        </div>
        <div class="col-sm-2">
          <button type="button" class="btn btn-info" (click)="showFriends(peopleItem.friends)"
          id="{{peopleItem.id}}">Review</button>
        </div>
      </div>
      <div class="clearfix"></div>
      <hr>
    </div>
  </div>
</div>
<div *ngIf="showVar" >
  <div class="top">
    <h4>List of {{peopleItem.firstName}}'s friends</h4>
  </div>
  <ul>
    <strong><friends-list [friendsList]="friendsList"></friends-list></strong>
  </ul>
</div>

