/* You can add global styles to this file, and also import other style files */
body {
  margin-top: 30px;
  background: #3bc0c7;
}
.top {
  text-align: center;
}
.shadow {
  box-shadow: 0px 0px 5px 0px;
  padding-top: 10px;
}
h2, a {
  color: #fff;
}
